:root {
    --background: #f2f2f2;
    --background2: #f2f2f2;
    --border1: #e9ecee;
    --border2: 4px solid #009cea;;
    --shadow: 7px 15px 13px -4px #00000056;
    --container:  #f7f8f9;
    --tith1: #364146;
    --tith2: #364146;
    --check1: #28a745;
}

[data-theme='dark'] {
    --background: #05010a;
    --background2: rgb(2, 237, 202);
    --border1: 3px solid rgb(206, 255, 36);
    --border2: 5px solid #c4380d;;
    --shadow: 7px 15px 13px -4px #ffffff1b;
    --container: #000000;
    --tith1: #c4380d;
    --tith2: #168ec5;
    --check1: #ffffff;

    }

    /* rgba(255, 255, 255, 0.75); */